@using Score.Data.Const
@model Score.Data.ViewModels.Base.ContentPage
@using Score.Data.ViewModels.Snippets
@using Score.UI.Web
@{
    var name = SnippetContainerModel.SnippetOrMacro(Model.PageItem);
}


<!DOCTYPE html>
<html lang="@Sitecore.Context.Language.ToString()">
<head>
    <meta charset="utf-8">
    @Html.Sitecore().Rendering(ScoreConst.RenderingIds.PageMetaData, new { Cacheable = true, Cache_VaryByData = true })
    @Html.Sitecore().Rendering(ScoreConst.RenderingIds.PageHeaderScripts, new { Cacheable = true, Cache_VaryByData = true })
    @Html.Sitecore().Rendering(ScoreConst.RenderingIds.SiteHeaderScripts, new { Cacheable = true })

    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/Areas/TrainingContent/css/main.css")" rel="stylesheet" />
    @if (Sitecore.Context.PageMode.IsPageEditorEditing)
    {
        <link href="@Url.Content("~/Areas/ScoreBootstrapUI/css/bootstrapui_page_editor.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Areas/TrainingContent/css/page_editor.css")" rel="stylesheet" />
    }
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->


</head>
<body>
    <div class="container">
        <div class="row">
            <img src="~/Areas/ScoreBootstrapUI/images/icons/score128snippet.jpg" style="float:left" />
            <h1>Content @name</h1>
            <br style="clear:left;" />
        </div>
    </div>
    <div class="@ScoreStyles.PageWrapper snippet-content">
        @Html.Sitecore().Placeholder("SnippetContainer")
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>

    @if (!Sitecore.Context.PageMode.IsPageEditorEditing)
    {
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.12.0/jquery.validate.min.js"></script>
        <script src="@Url.Content("~/Areas/TrainingContent/js/jquery.unobtrusive-ajax.min.js")"></script>
        <script src="@Url.Content("~/Areas/TrainingContent/js/jquery.validate.unobtrusive.min.js")"></script>
        <script src="@Url.Content("~/Areas/Score/js/score.jquery.validate.unobtrusive.js")"></script>
        <script src="@Url.Content("~/Areas/TrainingContent/js/bootstrap.min.js")"></script>
        <script src="@Url.Content("~/Areas/ScoreBootstrapUI/js/BootstrapUI.js")"></script>
        <script src="@Url.Content("~/Areas/TrainingContent/js/Score.Training.Content.js")"></script>
    }

    @Html.Sitecore().Rendering(ScoreConst.RenderingIds.PageFooterScripts, new { Cacheable = true, Cache_VaryByData = true })
    @Html.Sitecore().Rendering(ScoreConst.RenderingIds.SiteFooterScripts, new { Cacheable = true })

</body>
</html>
